nav.navbar.navbar-default(role="navigation")
    .container
        .navbar-header
            ul.nav.navbar-nav
                li.active
                    a(href='/') Home
                if user
                 li 
                  a(href='/logout') Logout 
                else
                 li
                  a(href='/login') Login
                 li
                  a(href='/register') Register