nav.navbar.navbar-default(role="navigation")
    .container
        .navbar-header
            ul.nav.navbar-nav
                li.active
                    a(href='/') Home
                li
                    a(href='/login') Login